header{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    background-color: rgb(60, 0, 170);
}

nav{
    text-align: center;
    background-color: rgb(6, 236, 225);
    color: red;
    font-size: larger;
    word-spacing: 30cqb;
}

h1{
    color: antiquewhite;
}

body{
    background-color: rgb(72, 137, 235);
}

a{
        width:300px;
        height:100px;
        padding:2px;
    }
li{
    list-style: none;
}

.skills{
display: inline-flex;
}

.skills li{
    width: 250px;
    text-align: center;
    vertical-align: top;
    margin: 1.5%;
    background-color: rgb(108, 108, 221);
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-top-width: 5px;
}

.skills h2{
    font-size: 30px;
    font-weight: bold;
}
