header{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    background-color: rgb(60, 0, 170);
}

nav{
    text-align: center;
    background-color: rgb(6, 236, 225);
    color: red;
    font-size: larger;
    word-spacing: 30cqb;
}

h1{
    color: antiquewhite;
}

body{
    background-color: rgb(72, 137, 235);
}

a{
        width:300px;
        height:100px;
        padding:2px;
    }