header{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    background-color: rgb(60, 0, 170);
}

nav{
    text-align: center;
    background-color: rgb(6, 236, 225);
    font-size: larger;
    justify-content: space-between;
    display: flex;
    height: 25px;
}

h1{
    color: antiquewhite;
}

body{
    background-color: rgb(114, 159, 228);
}
@media (min-width: 600px) and (max-width: 768px) {
    body {
    background-color: #dda428;
    }
}

a{
        width:300px;
        height:100px;
        padding:2px;
    }
li{
    list-style: none;
}

.skills{
display: inline-flex;
}

.skills li{
    width: 250px;
    text-align: center;
    vertical-align: top;
    margin: 1.5%;
    background-color: rgb(108, 108, 221);
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-top-width: 5px;
}

.skills h2{
    font-size: 30px;
    font-weight: bold;
}
.skills :hover{
    background: #9db4e0;
    transform: scale(1.2);
}

@media only screen {
    .skills{
        background-color: #de3163;
    }
    
}




.Contacto{
    width: 940px;
    height:  auto;
    margin: 40px;
    background-color: rgb(177, 184, 240);
} 

form{
    background-color:#9db4e0 ;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 30px, 0;
}

.Enviar{
    width: 30%;
    padding: 15px, 10px;
    font-size: 18px;
    font-weight: bold;
    color: antiquewhite;
    background-color: #ff5405;
}

.Enviar:hover{
    background: #e04802;
    cursor: pointer;
    transform: scale(1.2);
}