header{
    text-align: center;
    font-size: x-large;
    color: antiquewhite;
    background-color: rgb(60, 0, 170);
}

.link{
    font-size: x-large;
}

body{
    background-color: rgb(228, 140, 26)
}

.figcap{
    font-size: x-large;
    color: aliceblue;
    text-align: center;
}